@use "sass:color";

$lightNeutral: aliceblue;
$darkNeurtal: darkslategray;

@mixin create-large-button()
{
    padding: 10px;
    border-radius: 50%;
    width: 400px;
    height: 400px;
    font-size: 400%;
}
@mixin create-button-theme($color)
{
    $text-color: grey;
    $light-color: color.scale($color, $lightness: 10%);
    $dark-color: color.scale($color, $lightness: -10%);    
    
    background-color: $color;
    
    @if(lightness($color) > 60)
    {
        $text-color: $darkNeurtal;
        text-shadow: 1.5x 1.5px 1.5px $lightNeutral;
        border-color: $lightNeutral;
    }
    @else
    {
        $text-color: $lightNeutral;
        text-shadow: 1.5px 1.5px 1.5px $darkNeurtal;
        border-color: $darkNeurtal;
    }
    
    color: $text-color;

    &:hover {
        background-color: $light-color;
        cursor: pointer;
    }
    
    &:active{
        background-color: $dark-color;
    }
    
    &:focus{
        outline: none;
    }
}


body {
    background-color: $lightNeutral;
    color: $darkNeurtal;
    text-align: center;
}

h1 {
    padding-top: 20px;
    margin-bottom: -10px;
    font-size: 3em;
    font-family: Copperplate, "Franklin Gothic Medium", sans-serif;
}

h2 {
    font-size: 2em;
}

h3 {
    margin-top: -10px;
    font-family: "Century Gothic", ui-sans-serif, sans-serif;
}

button {    
    &.start
    {    
        @include create-large-button();
        @include create-button-theme(green);
        
        text-transform: uppercase;
    }
    
    &.stop
    {
        @include create-large-button();
        @include create-button-theme(firebrick);
        
        text-transform: uppercase;
    }
    
    &.restart
    {
        @include create-button-theme(orange);
        display: none;
        padding: 10px;
        font-size: 200%;
        border-radius: 25%;
    }   
}